---
title: #HackYG #UnlockThePDF
---

<h1>#HackYG</h1>
<div style='display: flex; align-items: center; justify-content: center'>
  <h1 style='display:inline-block;'>#UnlockThe</h1>
  <%= image_tag 'logo.png', class: 'logo', style: 'padding-top: 5px' %>
</div>

<div style='display: flex; align-items: center; justify-content: center'>
  <div style="width:400px">
    <a href='http://www.gov.yk.ca/forms/all.html'>
      <span class='medium'>The Present</span>
    </a>
  </div>

  <div style="width:400px">
    <a href=''>
      <span class='medium'>Invite to the Future</span>
    </a>
  </div>
</div>

<div>
  <a href='https://github.com/hack-yg-team-pdf'>
    <%= image_tag 'github.png'%>
  </a>
</div>



